.sidenav {
  margin-top: 65px;
  background-color: #212121;
  width: 150px;
}

.sidenav a {
  color: white;
  font-weight: 100;
}

.sidenav i {
  padding-right: 10px;
}

.content {
  padding: 50px;
  background-color: white;
}
